<div class="input-group">
  {{bs-input value=query placeholder="Filter packages" escape-press="clearSearchBox"}}
  <div class="input-group-btn">
    {{bs-button type="primary" icon="fa fa-search" action="search"}}
  </div>
</div>
<div class="list-group">
  {{#each filteredPkgs as |pkg|}}
    {{package-list-item
      item=pkg
      delete=(action attrs.delete)
      undo=(action attrs.undo)
      confirm=(action attrs.confirm)
    }}
  {{/each}}
</div>
