{{bs-input value=query placeholder="Filter packages"}}
<div class="list-group">
  {{#each filteredPkgs as |pkg|}}
  {{#link-to "packages.pkg-info" pkg.id class="list-group-item"}}
    {{pkg.name}}
  {{/link-to}}
  {{/each}}
</div>
