<div class="input-group">
  {{bs-input value=query placeholder="Filter packages" escape-press="clearSearchBox"}}
  <div class="input-group-btn">
    {{bs-button type="primary" icon="fa fa-search" action="search"}}
  </div>
</div>
<div class="list-group">
  {{#each filteredPkgs as |pkg|}}
  {{#link-to "packages.pkg-info" pkg.id class="list-group-item"}}
    {{pkg.name}}
  {{/link-to}}
  {{/each}}
</div>
