<div class="row">
  <div class="col-md-6">
    {{release-form on-submit=(action 'createRelease')}}
  </div>
  <div class="col-md-6">
    <h4>The following packages will be included in this release:</h4>
    <div class="list-group">
      {{#each model as |pkg|}}
      <div class="list-group-item">{{pkg.name}}</div>
      {{/each}}
    </div>
  </div>
</div>
