<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>Welcome to the R Package Manager!</h3>
    {{auth-form on-submit="loginOrSignUp"}}
  </div>
  <div class="col-md-4"></div>
</div>
